<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <a class="navbar-brand" href="#">Application</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="#">Features</a>
        <a class="nav-item nav-link" href="#">Pricing</a>
        <a class="nav-item nav-link disabled" href="#">Disabled</a>
      </div>
    </div>
  </nav>


  <form #userForm ="ngForm" (ngSubmit)="InsertUser(userForm.value)">
    <div class="container">
      <h1>Register</h1>
      <p>Please fill in this form to Insert Details.</p>
      <hr>
      
      <input type="text" placeholder="Enter first name" name="userId"  value="userId" [(ngModel)]="userId" style="display: none;">
      <label for="" >First Name</label>
      <input type="text" placeholder="Enter first name" name="firstName" ngModel>
      <label for="" >Last Name</label>
      <input type="text" placeholder="Enter first name" name="lastName" ngModel>
      

      <button type="submit" class="registerbtn">Submit</button>
     
  
      
    </div>
    

  </form>